@media all and (min-width:1280px){

    #wrap{
        width: 100%;
        overflow: hidden;
    }

    header{
        width: 100%;
        height: 80px;
		position : fixed;
		top: 0;
		z-index: 25;
        transition: all 0.4s;
        overflow: hidden;
    }

    header:hover{
        height: 450px;
        background:#fff;
    }

    header:hover :after{
        content:'';
        width: 100%;
        height:1px;
        background:rgb(215, 215, 215);
        position:absolute;
        top:80px;
    }

    header.scroll{
        background:#fff;
        border-bottom: 1px solid rgb(215, 215, 215);
    }

    #in_header{
        width: 100%;
		height: 80px;
		/* background-color: purple; */
    }

    #logo{
        width: 204px;
		height: 80px;
		/* background-color: coral; */
		float: left;
		display: flex;
		align-items: center;
        padding-left: 20px;
    }

    #logo img{
        width: 204px;
        height: 30px;
    }

    #menu_wrap{
        float:right;
        /* background-color: yellow; */
    }

    .top_menu{
		height: 524px;
        width: 123px;
		/* background-color: skyblue; */
		float: left;
		line-height: 80px;
		font-size: 15px;
		font-weight: 700;
        text-align: center;
        padding: 0 15px;
        transition: all 0.4s;
    }

	.top_menu:hover a{
		color: #004282;
	}


    #sub_menu{
        /* background-color: palevioletred; */
        line-height: 45px;
		font-size: 13px;
		font-weight: 400;
		margin-top: 10px;
        text-align: center;
        
    }

    #sub_menu>li:hover a{
        color:#004282;
        font-weight: 700;
    }

    #login{
        /* background-color: blue; */
        float: right;
        text-align: center;
        line-height: 80px;
        font-size: 11px;
        font-weight: 700;
        padding: 0 20px 0 10px;
        position:relative;
    }

    #login>li{
        padding:0 3px;
        float: left;
        
    }

    #login>li:after{
        content: '';
        width:1px;
        height:11px;
        background-color: #222;
        position:absolute;
        top:35px;
        left:46px;
    }

    #login>li:last-child:after{
        display: none;
    }



    .m_btn{
        display: none;
    }

    .sub_btn{
        display: none;
    }

    

    /* sec1 start */

    #sec1{
        width: 100%;
        height: 800px;
        margin-bottom: 100px;
        position:relative;
    }

    #sec1_wrap{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }


    .sec1_img1{
        background: url('../img/sec1_1.jpg') no-repeat center;
        background-size: cover;
    }

    .sec1_img2{
        background: url('../img/sec1_2.jpg') no-repeat center;
        background-size: cover;
    }

    .sec1_img3{
        background: url('../img/sec1_3.jpg') no-repeat center;
        background-size: cover;
    }

    .sec1_img4{
        background: url('../img/sec1_4.jpg') no-repeat center;
        background-size: cover;
    }

    .sec1_bg{
        width: 100%;
        height: 800px;
        background: linear-gradient(#fff,1%, rgba(255,255,255,0));
        position: absolute;
        top:0;
    }

    #sec1_txt{
        position: absolute;
        top:137px;
        left:123px;
        z-index: 5;
    }

    #sec1_txt>h1{
        font-size: 50px;
    }

    #sec1_txt>span{
        font-size: 14px;
        padding: 0 5px;
        box-sizing: border-box;
        font-weight: 700;
    }

    #sec1_txt>p{
        padding-top: 20px;
        box-sizing: border-box;
    }

    /* sec2 start */

    #sec2{
        width: 100%;
        height: 1000px;
        /* background-color: tan; */
        position:relative;
    }


    #in_sec2{
        width:1480px;
        height: 1000px;
        /* background-color: yellow; */
        margin: 0 auto;
        
        
    }

    .essence>img{
        display:block;
        position: absolute;
        top:0;
        right: 1%;
        z-index:5;
        opacity:0.6;
    }

    .container{
        width: 1200px;
        /* background-color: gray; */
        margin:  0 auto;
    }

    .sec2_box{
        width: 100%;
        height: 300px;
        /* background-color: green; */
        float: left;
    }

    .sec2_box2{
        width: 100%;
        height: 350px;
        /* background-color: green; */
        float: left;
    }

    .sec2_img{
        float: left;
    }

    .sec2_img2{
        float: right;
    }

    #sec2_t1{
        width: 500px;
        height: 100%;
        float: right;
        /* background-color: teal; */
    }

    #sec2_t2{
        width: 700px;
        height: 100%;
        float: left;
        /* background-color: teal; */
        text-align: right;;
    }

    .sec2_txt{
        padding: 70px 20px;
        box-sizing: border-box;
    }

    .sec2_txt>h1{
        margin-bottom: 20px;
    }

    
    /* sec3 start */

    #sec3{
        width: 100%;
        /* background-color: pink; */
        margin-top: 100px;
        overflow: hidden;
    }

    #sec3_wrap{
        width: 100%;
        height: 0;
        /* background-color: orange; */
    }

    .sec3_box{
        width: 25%;
        height: auto;
        float: left;
        position: relative;
        overflow: hidden;
    }

    .sec3_img>img{
        width: 100%;
        height: auto;
        transition-duration: 0.5s;
    }

    .b_box{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        float: left;
        position: absolute;
        top: 0;
        left: 0;
    }

    .sec3_txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        font-size:14px;
    }

    .sec3_txt>img{
        width: 25px;
        height: auto;
        margin: 10px auto 0 auto;
    }

    .sec3_box:hover .b_box{
        display: none;
    }

    .sec3_box:hover img{
        transform:scale(1.1);
    }

    .sec3_m_img{
        display: none;
    }

    /* sec4 start */

    #sec4{
        max-width:1920px;
        width: 100%;
        margin-top: 100px;
    }

    #sec4_box{
        width: 100%;
        height: 800px;
        background:url(../img/sec4.jpg) no-repeat right;
        background-size: cover;
    }

    #sec4_txt{
        padding: 40px 30px;
        box-sizing: border-box;
    }

    #sec4_txt>h1{
        font-size: 50px;
    }

    #sec4_txt>span{
        font-size: 14px;
        padding: 0 5px;
        font-weight: 700;
    }

    #video{
        width: 960px;
        height: 540px;
        background-color: black;
        float: right;
        margin-right: 6%;
    }

    #tap_video{
        display: none;
    }

    #mo_video{
        display: none;
    }

    /* sec5 start */

    #sec5{
        width: 100%;
        margin-top: 100px;
        overflow: hidden;
    }

    .sec5_container{
        width: 1200px;
        /* background-color: gray; */
        margin: 0 auto;
    }

    .sec5_box{
        width: 388px;
        /* background-color: green; */
        margin-right: 18px;
        float: left;
    }

    .sec5_box:last-child{
        margin-right: 0;
    }

    .sec5_img{
        width: 388px;
        height: 250px; 
        float: left;
    }

    .sec5_img>img{
        width: 100%;
        height: 100%;
    }

    .sec5_txt{
        width: 100%;
        /* background-color: palegoldenrod; */
        padding: 20px;
        box-sizing: border-box;
        float: left;
    }

    .sec5_txt>p{
        margin-top: 20px;
        font-size: 15px;
    }

    .sec5_mo_img{
        display: none;
    }

    /* footer start */

    footer{
        width: 100%;
        margin-top: 100px;
        background-color: #004282;
    }

    #in_footer{
        width: 1200px;
        height: 258px;
        /* background-color: gray; */
        margin: 0 auto;
        padding: 20px 20px;
        box-sizing: border-box;
        position: relative;
    }

    #f_logo{
        width: 144px;
        height: 100%;
        /* background-color: tan; */
        float: left;
        margin-right: 20px;
    }

    #f_logo img{
        width: 144px;
        height: 32px;
    }

    #f_box1{
        width: 800px;
        height: auto;
        /* background-color: tan; */
        float: left;
    }

    #f_menu{
        width: 800px;
        height: 32px;
        /* background-color: red; */
        float: left;
    }

    #f_menu>li{
        float: left;
        margin-right: 20px;
    }

    #f_menu>li>a{
        color: #fff;
        font-size: 13px;
        display:block;
    }

    #f_menu2{
        width: 800px;
        /* background-color: red; */
        margin-top: 20px;
        float: left;
    }

    #f_menu2>li{
        margin-right: 20px;
        float: left;
    }
    
    #f_menu2 a{
        color: #fff;
        display:block;
    }

    #f_box2{
        /* background-color: tan; */
        float: right;
    }

    #f_icon{
        /* background-color: red; */
        float: right;
    }

    #f_icon>li{ 
        float: left;
        margin-right: 5px;
    }

    #f_icon>li:last-child{
        margin-right: 0;
    }

    #f_icon>li img{
        width: auto;
        height: 25px;
        display: block;
    }

    #f_txt{
        width: 800px;
        height: 32px;
        /* background-color: red; */
        margin-top: 100px;
        color: #fff;
        font-size: 11px;
        float: left;
    }

    .top_btn{
        width: 40px;
        height: 40px;
        background:#004282;
        border: 1px solid #ffffff;
        position:fixed;
        bottom: 50px;
        right:50px;
        z-index: 20;
        cursor: pointer;
        display: none;
    }

    .top_btn>img{
        display: block;
        width: 15px;
        padding: 12.5px 12px
        
    }













    

    







    
   






































} /* end */